.navigasi {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.form-pendaftaran h1 {
    margin-top: 5.5rem;
}

@media (max-width: 450px) {
    html {
        font-size: 75%;
    }
}
